about-time==4.2.1
absl-py==1.3.0
accelerate==0.24.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.8.3
aioschedule==0.5.2
aiosignal==1.2.0
alive-progress==3.1.4
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altair==5.1.2
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1694046349000/work
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Babel==2.13.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
bleach==6.1.0
boto3==1.28.50
botocore==1.31.50
cachetools==5.2.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
chromadb==0.3.22
click==8.1.3
clickhouse-connect==0.5.24
cmake==3.26.0
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contourpy==1.1.1
crcmod==1.7
cryptography==40.0.2
cycler==0.12.1
dataclasses-json==0.5.7
datasets==2.16.1
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepspeed==0.11.0
defusedxml==0.7.1
dictdiffer==0.9.0
dill==0.3.6
docker-pycreds==0.4.0
docstring-parser==0.15
duckdb==0.8.0
einops==0.7.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
evaluate==0.4.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
faiss-cpu==1.7.4
fastapi==0.95.1
fastjsonschema==2.19.0
ffmpy==0.3.1
filelock==3.8.0
fire==0.5.0
flash-attn==2.3.1.post1
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.3.1
fsspec==2023.10.0
future==0.18.2
gast==0.5.4
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.13.0
google-auth-oauthlib==0.4.6
gradio==3.47.1
gradio_client==0.6.0
grapheme==0.6.0
greenlet==2.0.2
grpcio==1.50.0
h11==0.14.0
h5py==3.9.0
hjson==3.1.0
hnswlib==0.7.0
httpcore==0.18.0
httptools==0.5.0
httpx==0.25.0
huggingface-hub==0.20.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
install==1.3.5
InstructorEmbedding==1.0.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1693880262622/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
ipywidgets==8.1.1
isoduration==20.11.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
json5==0.9.14
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1695827934112/work
jupyter_server==2.12.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.15.0
kiwisolver==1.4.5
langchain==0.0.329
langsmith==0.0.56
lit==15.0.7
llama-cpp-python==0.1.48
loguru==0.7.2
lxml==4.9.1
lz4==4.3.2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mistune==3.0.2
modelscope==1.9.4
monotonic==1.6
mpmath==1.3.0
multidict==6.0.2
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.12.0
nbformat==5.9.2
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.0
ninja==1.11.1
nltk==3.6.6
notebook==7.0.6
notebook_shim==0.2.3
numexpr==2.8.6
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.133
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvitop==1.3.1
oauthlib==3.2.2
openai==0.28.1
openapi-schema-pydantic==1.2.4
opencv-python==4.8.1.78
openpyxl==3.1.2
orjson==3.9.7
oss2==2.18.2
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.4.3
pandas-stubs==1.5.3.230304
pandocfilters==1.5.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathtools==0.1.2
pdfminer.six==20221105
peft==0.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1696272223550/work
portalocker==2.6.0
posthog==3.0.1
prometheus-client==0.19.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
protobuf==3.20.0
psutil==5.9.5
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.11
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
pyparsing==3.0.9
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-crf==0.7.2
pytorch-lightning==1.2.5
pytz==2022.7.1
PyYAML==6.0
pyzmq @ file:///croot/pyzmq_1686601365461/work
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.30.2
regex==2022.9.13
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.2
rouge==1.0.1
rouge-score==0.1.2
rpds-py==0.10.4
rsa==4.9
s3transfer==0.6.2
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.4.0
scikit-learn==1.2.0
scipy==1.10.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.32.0
seqeval==0.0.12
setproctitle==1.3.3
shtab==1.6.4
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.15
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.26.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==2.0.1
terminado==0.18.0
threadpoolctl==3.1.0
tifffile==2023.7.10
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchmetrics==0.10.1
torchvision==0.15.1
tornado==6.4
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1696377679271/work
transformers==4.36.2
triton==2.0.0
trl==0.7.2
types-python-dateutil==2.8.19.14
types-pytz==2022.7.1.2
typing-inspect==0.8.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tyro==0.5.10
uri-template==1.3.0
urllib3==1.26.18
uvicorn==0.22.0
uvloop==0.17.0
validators==0.22.0
visdom==0.2.4
wandb==0.15.12
watchfiles==0.19.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1696255154857/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==11.0.3
Werkzeug==2.2.2
widgetsnbextension==4.0.9
xxhash==3.2.0
yapf==0.40.2
yarl==1.8.1
zipp==3.10.0
zstandard==0.21.0
